.header { background-color: #fff; padding: var(--spacing-base) calc(var(--spacing-base) * 2); border-bottom: 1px solid var(--color-border);  border-radius: 0 30px 0 0; height: 90px; }
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-base);
  background-color: var(--color-bg);
}
.title {
  margin: 0;
  font-size: 1.5rem;
}
.settingsButton {
  background: none;
  border: none;
  cursor: pointer;
  svg { width: 24px; height: 24px; }
}