 .sidebar { width: 250px; background-color: var(--color-sidebar-bg); color: #fff; display: flex; align-items:left; flex-direction: column; padding: var(--spacing-base); border-radius: 30px 0 0 30px;
     margin: 30px 00px 30px 30px; }

.profile_card{ display: flex; align-items: center; flex-direction: column; margin-bottom: var(--spacing-base); 
  .myimage {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-color: #fff;
    background-image: url('../../../images/myimage.png');
    background-repeat: no-repeat;
    background-size:100%;        // 컨테이너 크기에 맞춰 채우기
    background-position: 50% ;   // 중앙에 위치
  }
}
.menu_list { list-style: none; padding: 0; margin: 0;  display: flex; flex-direction: column;}
.menu_item { color: #fff; padding: calc(var(--spacing-base) * 1) calc(var(--spacing-base) * 2); cursor: pointer; }
.menu_item_active{ background-color: var(--mainmune-hover-bg); border-radius: 10px; color:#fff; padding: calc(var(--spacing-base) * 1) calc(var(--spacing-base) * 2);  }
// .menu_item_active::before{content: ""; width: 3px; height: 3px; display: inline-block; background: #fff; margin: 0 10px 3px 10px; } 
.menu_item_active:hover,.menu_item:hover{ background-color: var(--mainmune-hover-bg); border-radius: 10px; }
