h1,h2,h3,h4,h5,a,div{padding: 0px; margin: 0px;}
div{box-sizing: border-box;}
ul,li{list-style: none; padding: 0px; margin: 0px;}
a:link,a:visited,a:hover ,a:active {color: #333; text-decoration: none;}
a:hover {color: #ccc;}

.header{  height: 150px; background:#333;  height: 75px; color: #fff;  display:  flex;   flex-direction: row;    flex-wrap: nowrap; width: 100%;}
.header  h1{display: flex; padding:10px ; margin-left: 10px;}
.header .gnb{ width: 100%; margin-left: 15px; display: flex; color: #fff;
  flex-direction: row;
  flex-wrap: nowrap;}

.header .gnb a{margin: 10px; color: #fff; line-height: 43px;;}
.header .gnb ul{display: flex;}
.header .gnb ul li{margin: 1px 10px; cursor: pointer;}
.header .gnb ul li:hover{ color:#ccc; border: 1px solid #ccc; border-radius: 5px;}
.black-nav{ width: 100%;  background: #333; font-size: 20px; line-height: 50px; ; color: #fff; font-weight: 500; height: 60px;}
.menu{ width: 200px; background: #ccc; height: 100%; font-size: 14px;}
.warp{ width: 100%;  display: flex;  flex-direction:column;   align-items: flex-start; width: 100%; }
button{padding: 0px;}
.lnb{padding-top: 10px; width: 200px;}
.container{  display:flex;  width: calc(100% - 200px) 100%; height: 100%; }
.content{ width:calc(100vw - 200px)  }
.btn_cm{ min-width: 100px; padding:10px 20px; border-radius: 8px;margin: 0px 15px 2px 0; font-size: 15px;  background: #333;    color: #fff;
  font-weight: 700;
  border: 0px;}
.btn_cm:hover{ color: #333;background: #aaa;}
.list_typ1{ text-align: left; margin: 10px 0px; width: 100%; background: #fff; display: flex;     flex-direction: column; border-bottom: 1px solid #ccc; padding: 10px 0 10px 10px;
}
.list_typ1:hover{background: #ededed; border-radius: 10px;}
.list_typ1 .title{display: flex; margin: 10px 10px 10px 0;     justify-container: space-between;}
.list_typ1 .title .fave > a { cursor: pointer;   }
.list_typ1 > div{display: flex;}
.list_typ1 h3{margin-right: 20px; }
.list_day{ border: 1px solid #ccc;}
.list_day ul{ border-left: 1px solid #ccc; border-right: 1px solid #ccc;}
.list_day li{ border-top: 1px solid #ccc; border-bottom: 1px solid #ccc;}
.table_cm {border: 1px solid #ccc;}
.table_cm td {border: 1px solid #ccc;}
.modal{background: skyblue;margin: 10px 0px; padding: 10px 5px; height: 100px;}